<a href="https://colab.research.google.com/github/Prashantt21/Portfolio_Projects/blob/main/Python_Data_Structure_Assignment.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

<a id='1'></a><center> <h3 style="background-color:orange; color:white" ><br>Python Data Structures<br></h3>

# `Types of Data Structures:`
* `List` | `Tuple`
* `Set` | `Dictionary`

|Data Structures type|Mutable|Comments|Indexing|Ordered|Duplicacy|
|----|----|----|----|----|----|
tuple ()|immutable|immutable version of list| possible|yes |allowed |
list []|mutable|-|possible |yes | allowed |
set {}|mutable| -|not |no |not |
dict {key:value}|mutable|-|possible |no |not  |

💫 `immutable` => `can't be changed` <br>
💫 `mutable` => `can be changed`

## Lists

### Create an empty list with the name ‘a’, print the value of a and type(a).

In [ ]:
# create empty list, name it 'a'
a = []

In [ ]:
# print the value of a
print(a)

[]

In [ ]:
# print the type of a
type(a)

list

### Create a list , languages = ['R','Python', 'SAS', 'Scala', 42],

In [ ]:
languages = ['R','Python','SAS','Scala',42]

Print the number of elements in the list

In [ ]:
print(languages)

['R', 'Python', 'SAS', 'Scala', 42]

Using for loop iterate and print all the elements in the list

In [ ]:
for i in languages:
  print(i)

R
Python
SAS
Scala
42

Select the second item, 'Python' and store it in a new variable named 'temp'

In [ ]:
temp = languages[1]
temp

'Python'

Print the value of temp and type(temp)

In [ ]:
temp
type(temp)

str

Append the element 'Java' in the list

In [ ]:
languages.append('Java')
languages

['R', 'Python', 'SAS', 'Scala', 42, 'Java', 'Java']

Remove the element 42 from the list and print the list

In [ ]:
languages.remove('Java')
languages

['R', 'Python', 'SAS', 'Scala', 'Java']

### Create a list, colors = [‘Red’, ‘Blue’, ‘White’]

In [ ]:
colors=['Red','Blue','White']

Append the element 'Black' to colors

In [ ]:
colors.append('Black')

Append the color 'Orange' to second position (index=1) and print the list

In [ ]:
colors.insert(1,'Orange')
colors

['Red', 'Orange', 'Blue', 'White', 'Black']

Print the list

In [ ]:
colors

['Red', 'Orange', 'Blue', 'White', 'Black']

Create another list, colors2 = [‘Grey’, ‘Sky Blue’]

In [ ]:
color2 = ['Grey','Sky Blue']

Add the elements of colors2 to colors using extend function in the list

In [ ]:
color2.extend(colors)
color2

['Grey',
 'Sky Blue',
 'Red',
 'Orange',
 'Blue',
 'White',
 'Black',
 'Red',
 'Orange',
 'Blue',
 'White',
 'Black',
 'Red',
 'Orange',
 'Blue',
 'White',
 'Black',
 'Red',
 'Orange',
 'Blue',
 'White',
 'Black']

Print len of colors and its elements

In [ ]:
len(color2)

22

Sort the list and print it.

In [ ]:
color2.sort()
color2

['Black',
 'Black',
 'Black',
 'Black',
 'Blue',
 'Blue',
 'Blue',
 'Blue',
 'Grey',
 'Orange',
 'Orange',
 'Orange',
 'Orange',
 'Red',
 'Red',
 'Red',
 'Red',
 'Sky Blue',
 'White',
 'White',
 'White',
 'White']

### Create a string, sent = ‘Coronavirus Caused Lockdowns Around The World.”

In [ ]:
sent = 'Coronavirus Caused Lockdowns Around The World'

Use split function to convert the string into a list of words and save it in variable words and print the same

In [ ]:
message = sent.split(' ')
message

['Coronavirus', 'Caused', 'Lockdowns', 'Around', 'The', 'World']

Convert each word in the list to lower case and store it in variable words_lower.
Print words_lower

In [ ]:
# prompt: Convert each word in the list to lower case and store it in variable words_lower. Print words_lower

words_lower = [word.lower() for word in message]
print(words_lower)

['coronavirus', 'caused', 'lockdowns', 'around', 'the', 'world']

Check whether ‘country’ is in the list

In [ ]:
# prompt: Check whether ‘country’ is in the list

'country' in words_lower

False

Remove the element ‘the’ from the list and print the list.

In [ ]:
words_lower.remove('the')

ValueError: list.remove(x): x not in list

Select the first 4 words from the list words_lower using slicing and store them in a new variable x4

In [ ]:
x4 = words_lower[:4]

In [ ]:
# print x4
x4

['coronavirus', 'caused', 'lockdowns', 'around']

Convert the list of elements to single string using join function and print it

In [ ]:
joined_string = ' '.join(words_lower)
joined_string

'coronavirus caused lockdowns around world'

## Sets

### Create stud_grades = ['A','A','B','C','C','F']

In [ ]:
stud_grades = ['A','A','B','C','C','F']

Print the len of stud_grades

In [ ]:
len(stud_grades)

6

Create a new variable, stud_grades_set = set(stud_grades)

In [ ]:
stud_grades_set = set(stud_grades)

Print stud_grades_set.

In [ ]:
stud_grades_set

{'A', 'B', 'C', 'F'}

print the type of stud_grades and stud_grades_set and print their corresponding elements. Try to understand the difference between them.

In [ ]:
type(stud_grades)
type(stud_grades_set)

set

Add a new element ‘G’ to stud_grades_set

In [ ]:
stud_grades_set.add('G')
stud_grades_set

{'A', 'B', 'C', 'F', 'G'}

Add element 'F' to stud_grades_set. and print it.

In [ ]:
stud_grades_set.add('F')
stud_grades_set

{'A', 'B', 'C', 'F', 'G'}

!!Did you notice? set doesn't add an element if it's already present in it, unlike lists.

Remove ‘F’ from stud_grades_set

In [ ]:
stud_grades_set.remove('F')
stud_grades_set

KeyError: 'F'

Print the elements and the length of stud_grades_set

In [ ]:
for i in stud_grades_set:
  print(i)

len(stud_grades_set)

G
B
A
C

4

### Create colors = [‘red’,’blue’,’orange’], and fruits = [‘orange’,’grapes’,’apples’]

In [3]:
colors = ['Red','Blue','Orange']
fruits = ['Orange','Grapes','apples']

Print color and fruits

In [4]:
colors
fruits

['Orange', 'Grapes', 'apples']

Create colors_set, and fruits_set. (using set() ) and print them

In [6]:
colors_set = set(colors)
fruits_set = set(fruits)
colors_set
fruits_set

{'Grapes', 'Orange', 'apples'}

Find the union of both the sets.

In [7]:
colors_set.union(fruits_set)

{'Blue', 'Grapes', 'Orange', 'Red', 'apples'}

Find the intersection of both the sets

In [9]:
colors_set.intersection(fruits_set)

{'Orange'}

Find the elements which are Fruits but not colors (using set.difference() )

In [11]:
fruits_but_not_colors = fruits_set.difference(colors_set)
fruits_but_not_colors

{'Grapes', 'apples'}

## TUPLES

### Create temp = [17, ’Virat’, 50.0]

In [12]:
temp = [17,'Virat',50.0]

Iterate through temp and print all the items in temp

In [16]:
for i in temp:
  print(i)

17
Virat
50.0

replace first element with 11 in temp

In [18]:
temp_1 = list(temp)
temp_1[0] = 11
temp_1

[11, 'Virat', 50.0]

Set temp1 = tuple(temp)

In [20]:
temp1 = tuple(temp_1)

Iterate through temp1 and print all the items in temp1.

In [22]:
for i in temp1:
  print(i)

17
Virat
50.0

replace first element with 17 in temp1

In [23]:
temp1[0]=17
temp1

TypeError: 'tuple' object does not support item assignment

<b>Oops!! You got an error. Hey Don't worry! Its because Once a tuple is created, you cannot change its values unlike list.</b>

### Create city = ("Bangalore", 28.9949521, 72)

In [24]:
city = ("Bangalore",28.9949521,72)

Print first element of city

In [25]:
city[0]

'Bangalore'

Create city2 = (‘Chennai’, 30.01, 74)

In [26]:
city2 = ('Chennai',30.01,74)

Create cities which consist of city and city2

In [29]:
cities = city + city2
cities

('Bangalore', 28.9949521, 72, 'Chennai', 30.01, 74)

Print cities

In [30]:
cities

('Bangalore', 28.9949521, 72, 'Chennai', 30.01, 74)

Print type of first element in cities

In [31]:
cities[0]

'Bangalore'

print the type of cities

In [32]:
type(cities)

tuple

Hey that implies you made a nested tuples!!

## DICTIONARY

### Create a dictionary d = {"actor":"amir","animal":"cat","earth":2,"list":[23,32,12]}

In [33]:
d ={"actor":"amir","animal":"cat","earth":2,"list":[23,32,12]}

Print the value of d[0]

In [37]:
d["actor"]

'amir'

<b>Oops!! again an error. again a fun fact. Dictionary return the value for key if key is in the dictionary, else throws KeyError
and we don't have key 0 here :( </b>

Store the value of d[‘actor’] to a new variable actor.

In [38]:
actor = d['actor']

Print the type of actor

In [39]:
type(actor)

str

Store the value of d[‘list’] in new variable List.

In [41]:
List = d['list']
List

[23, 32, 12]

Print the type of List.

In [42]:
type(List)

list

Create d1 = { ‘singer’ : ‘Kr$na’ , ‘album’: ‘Still here’, ‘genre’ : ‘hip-hop’}

In [43]:
d1 = {'singer':'Kr$na','album':'Still here','genre':'hip-hop'}

Merge d1 into d.

In [49]:
d1.update(d)
d1

{'singer': 'Kr$na',
 'album': 'Still here',
 'genre': 'hip-hop',
 'actor': 'amir',
 'animal': 'cat',
 'earth': 2,
 'list': [23, 32, 12]}

print d

In [51]:
d1

{'singer': 'Kr$na',
 'album': 'Still here',
 'genre': 'hip-hop',
 'actor': 'amir',
 'animal': 'cat',
 'earth': 2,
 'list': [23, 32, 12]}

Print all the keys in d

In [53]:
for key in d1:
  print(key)

singer
album
genre
actor
animal
earth
list

Print all the values in d

In [56]:
for value in d1.values():
  print(value)

Kr$na
Still here
hip-hop
amir
cat
2
[23, 32, 12]

Iterate over d, and print each key, value pair as this - (actor ----> amir)

In [57]:
for key,value in d.items():
  print(f"{key}--->{value}")

actor--->amir
animal--->cat
earth--->2
list--->[23, 32, 12]

count the number of occurences of charachters in string named "sent" using dictionary and print the same.

In [58]:
sent = 'Coronavirus Caused Lockdowns Around The World'
char_count = {}
for char in sent:
  if char not in char_count:
    char_count[char] = 0
  char_count[char] += 1

for char, count in char_count.items():
  print(f"{char}: {count}")

C: 2
o: 6
r: 4
n: 3
a: 2
v: 1
i: 1
u: 3
s: 3
 : 5
e: 2
d: 4
L: 1
c: 1
k: 1
w: 1
A: 1
T: 1
h: 1
W: 1
l: 1